.app.dark {
  --bg-color: #09161c;
  --inverted-bg-color: #efefef;
  --header-color: #222d33;
  --primary-color: green;
  --secondary-color: #1eef1e;
  --inverted-primary-color: #7275e1;
  --inverted-secondary-color: #3f53ad;
}
