.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #b0b0dc;

  --primary-color: green;
  --secondary-color: #1eef1e;

  --inverted-primary-color: #7275e1;
  --inverted-secondary-color: #3f53ad;
}

